# Chapter 5 - If Statements
pgs 76 - 94

In [27]:
#importing files: https://stackoverflow.com/questions/20908018/import-multiple-excel-files-into-python-pandas-and-concatenate-them-into-one-dat 
# import useful libraries 
import sys
import pandas as pd
import os
import re

#get directory and list files
path = os.getcwd()
files = os.listdir(path)
files

# pick out the xlsx files
files_xlsx = [f for f in files if f[-4:] == 'xlsx']
files_xlsx

#initialize empty dataframe df:
df = pd.DataFrame()

#loop over list of xlsx files to put into empty dataframe
for f in files_xlsx:
    data = pd.read_excel(f, 'sales')   #versions that have the data are on tab called 'sales'
    df = df.append(data)

print(df)

     Card                        Class_desc  Consideration Deed_book  \
0     R01                     110 One Story         375000    ID2011
1     R01   150 SplitLevel (Tri,Quad,Split)         265000    ID2011
2     R01                     120 Two Story         205000    ID2011
3     R01                     120 Two Story         522000    ID2011
4     R01  115 One Story+ (1.25, 1.5, 1.75)         449000    ID2011
5     NaN  101 Single Family Vacant (R1-R6)           2000    ID2011
6     R01   150 SplitLevel (Tri,Quad,Split)         199950    ID2011
7     R01                     120 Two Story         371250    ID2011
8     R01  115 One Story+ (1.25, 1.5, 1.75)         372000    ID2011
9     R01                     120 Two Story         308000    ID2011
10    R01  115 One Story+ (1.25, 1.5, 1.75)         394400    ID2011
11    R01  115 One Story+ (1.25, 1.5, 1.75)         330000    ID2011
12    NaN  101 Single Family Vacant (R1-R6)         259950    ID2011
13    R01  115 One Story+ (1.25, 1.5, 1.75)         202000    ID2011
14    R01   150 SplitLevel (Tri,Quad,Split)         372500    ID2011
15    R01                     110 One Story         365000    ID2011
16    R01                     110 One Story         165000    ID2011
17    R01                     110 One Story         197750    ID2011
18    R01                     110 One Story         195000    ID2011
19    R01                     110 One Story         260000    ID2011
20    R01  115 One Story+ (1.25, 1.5, 1.75)         345000    ID2011
21    R01  115 One Story+ (1.25, 1.5, 1.75)         367500    ID2011
22    R01                     110 One Story         209000    ID2011
23    R01  115 One Story+ (1.25, 1.5, 1.75)         196500    ID2011
24    R01   150 SplitLevel (Tri,Quad,Split)         158245    ID2011
25    R01                     110 One Story         257000    ID2011
26    R01                     120 Two Story         154000    ID2011
27    R01                     110 One Story         288000    ID2011
28    R01        210 Condo Residential Unit         231000    ID2011
29    R01  230 Condo Parking Garage/Storage          20500    ID2011
...   ...                               ...            ...       ...
2442  R01                     120 Two Story        1012000    ID2018
2443  R01                     110 One Story         789000    ID2018
2444  R01                     120 Two Story        1700000    ID2018
2445  R01  115 One Story+ (1.25, 1.5, 1.75)         975000    ID2018
2446  R01                     120 Two Story         605000    ID2018
2447  R01                     120 Two Story        1135000    ID2018
2448  R01                     120 Two Story        1150000    ID2018
2449  R01                     120 Two Story         700000    ID2018
2450  R01   212 Condo Residential 50+ Units         190000    ID2018
2451  R01   212 Condo Residential 50+ Units         225000    ID2018
2452  R01   212 Condo Residential 50+ Units         115000    ID2018
2453  R01   212 Condo Residential 50+ Units         310000    ID2018
2454  R01                     120 Two Story        1085000    ID2018
2455  R01                     110 One Story        1945000    ID2018
2456  R01  115 One Story+ (1.25, 1.5, 1.75)         900000    ID2018
2457  R01                     120 Two Story        1395000    ID2018
2458  R01                     110 One Story         850000    ID2018
2459  R01                     120 Two Story        1055000    ID2018
2460  R01                     120 Two Story        1525000    ID2018
2461  R01  115 One Story+ (1.25, 1.5, 1.75)         915000    ID2018
2462  R01  115 One Story+ (1.25, 1.5, 1.75)         923200    ID2018
2463  R01  115 One Story+ (1.25, 1.5, 1.75)         650000    ID2018
2464  R01                     110 One Story        1516000    ID2018
2465  R01                     120 Two Story         995000    ID2018
2466  R01                     120 Two Story        2300000    ID2018
2467  R01  115 One Story+ (1.25, 1.5, 1.75)         975000    ID2018
2468  R01                     110 One Story         820000    ID2018
2469  R01  115 One Story+ (1.25, 1.5, 1.75)        1015000    ID2018
2470  R01  115 One Story+ (1.25, 1.5, 1.75)         857000    ID2018
2471  R01                     110 One Story         665000    ID2018

      Deed_page  District  FinArea  FinSize                          Grantee  \
0       11014.0       4.0   2111.0      NaN   MINGUS JOHN B & BROWN EILEEN B
1       14409.0       4.0   1801.0      NaN             RALSTON WESLEY W AND
2        6274.0       4.0   1750.0      NaN                BRUNYANSKY TARA L
3        5547.0       4.0   2964.0      NaN                  CONNELL MYLES C
4       12607.0       4.0   3250.0      NaN                  ROKOSZ RONALD F
5        4042.0       4.0      NaN      NaN                TAYLOR JONATHAN D
6        4043.0       4.0   1699.0      NaN                TAYLOR JONATHAN D
7       17291.0       4.0   2671.0      NaN            JAMES THOMAS AND ANNA
8       11850.0       4.0   2678.0      NaN  ETZ REBECCA AND GONZALEZ MARTHA
9       14172.0       4.0   2080.0      NaN               GETTYS CATHERINE M
10       5649.0       4.0   2869.0      NaN                MIRE JOSEPH KELLY
11      13457.0       4.0   2140.0      NaN       PARTEE PETER S AND TASHA N
12      21765.0       4.0      NaN      NaN                 HILLSMAN KELLY V
13      14036.0       4.0   1311.0      NaN                     GLENNMAR LLC
14      11946.0       4.0   2449.0      NaN        MONACO JOSEPH AND DIANE V
15       7486.0       4.0   2612.0      NaN    BARLEY STEVEN L AND KATHRYN M
16       8963.0       4.0    776.0      NaN  TATE RUSSELL E JR & ANN DALEY &
17       4846.0       4.0   1768.0      NaN   KEIGER CARROLL B & CATHERINE B
18       9294.0       4.0   1377.0      NaN             HALL ASHLEY ANNE AND
19        349.0       4.0   1716.0      NaN                     EMDE DORIS M
20      11129.0       4.0   3056.0      NaN              SKERRETT KATHLEEN R
21      14764.0       4.0   2250.0      NaN    ASTLEY ALLAN A AND COURTNEY M
22       7686.0       4.0   1797.0      NaN         STEINEN WILLIAM ERIC AND
23       9772.0       4.0   1764.0      NaN                  JACKSON WENDY T
24      19867.0       4.0   1639.0      NaN     BELSKI JUSTIN M AND REAMEY L
25       8327.0       4.0   1224.0      NaN                PETTITT RICHARD T
26       6564.0       4.0   1166.0      NaN                 MARSH KATHLEEN P
27      19597.0       4.0   1917.0      NaN                   FLINT ANDREW P
28      13497.0       4.0   2293.0      NaN   WILLIAMS DAVID M AND CHERYLE N
29      18404.0       4.0      0.0      NaN          BROOKS HERBERT A SR AND
...         ...       ...      ...      ...                              ...
2442     5814.0       NaN      NaN   4926.0  EWING CHARLES W III AND SARAH C
2443      365.0       NaN      NaN   3416.0                 CATBALLOU107 LLC
2444     7528.0       NaN      NaN   4609.0               TONBRIDGE ROAD LLC
2445    15830.0       NaN      NaN   3550.0      SZUCS RICHARD ALEXANDER AND
2446     2643.0       NaN      NaN   3293.0       COBBLESTONE PROPERTIES LLC
2447      425.0       NaN      NaN   4230.0                 309 HILLWOOD LLC
2448    13846.0       NaN      NaN   4709.0          SMITH CHRISTOPHER T AND
2449     7221.0       NaN      NaN   3915.0            GREGORY JOHN R II AND
2450    13058.0       NaN      NaN    806.0                ROBERTS BARBARA P
2451    18603.0       NaN      NaN   1005.0                  KLINK CHARLES J
2452    13472.0       NaN      NaN    476.0                   WIRICK DONNA L
2453     6256.0       NaN      NaN   1465.0                   SALOMON JUDY E
2454    14031.0       NaN      NaN   3611.0         SHAH KEYUR B AND MANSI J
2455     5866.0       NaN      NaN   7845.0     ENGEL MATTHEW B AND MORGAN H
2456     6314.0       NaN      NaN   5845.0         MCVEY JAMES H AND ANNE P
2457    13173.0       NaN      NaN   4018.0           WILTON REVOCABLE TRUST
2458     8209.0       NaN      NaN   2864.0      NOBLE CRAIG A AND MICHELE L
2459     5929.0       NaN      NaN   3320.0                AUMAN DAVID R AND
2460     2175.0       NaN      NaN   4574.0      COREY JOHN E AND EVANS PAGE
2461     2143.0       NaN      NaN   3741.0    SMITH HORACE V AND KATHLEEN P
2462     9056.0       NaN      NaN   3744.0     BROWN ANNE C AND BARE MARK E
2463     2069.0       NaN      NaN   2957.0             KUPRESAK LEONARD AND
2464    17829.0       NaN      NaN   5212.0            CERRUTI MICHAEL J AND
2465    11005.0       NaN      NaN   2420.0     SHUFORD DAVID G AND TORREY L
2466     1231.0       NaN      NaN   8559.0                        AROOS LLC
2467    14952.0       NaN      NaN   2928.0    HUPP WILLIAM T JR AND MEGAN M
2468    11019.0       NaN      NaN   2319.0          POWERS WILLIAM T JR AND
2469    14864.0       NaN      NaN   3678.0   TIMMERMAN THOMAS AND MARY JANE
2470    15881.0       NaN      NaN   2669.0           BREWBAKER ROGERS L AND
2471    17287.0       NaN      NaN   2384.0   NEUWELT EDWARD A AND ELIZABETH

                               Grantor       ...        NBHDno    Parcel_ID  \
0                        FRASER ERIN E       ...         148.0  C0010210012
1                    WARD JUDITH CAROL       ...         140.0  C0010358002
2                     E C BUILDERS LLC       ...         140.0  C0010362013
3      FEWSTER TIMOTHY B & WENDY C TRS       ...         140.0  C0010398006
4     KRECHTLER ELLEN K & TODD C STURT       ...         140.0  C0010400014
5                        KISSAM DUREMA       ...         148.0  C0010427002
6                        KISSAM EDNA D       ...         148.0  C0010427016
7           MURPHY ROBERT L AND MARY O       ...         140.0  C0010442002
8                 NICHOLS PHILIP W AND       ...         140.0  C0010442016
9                   MOOREFIELD LAURA K       ...         140.0  C0010486022
10                     MCLEAN ROBERT B       ...         140.0  C0010491018
11        CG STONY POINT TOWNHOMES LLC       ...         142.0  C0010491049
12               VISTA RESIDENTIAL LLC       ...         142.0  C0010491058
13                 WOODARD KRIST G AND       ...         148.0  C0010508002
14                     BISHOP RHONDA L       ...         140.0  C0010526012
15      RICE BRUCE C AND ELIZABETH ANN       ...         140.0  C0010527016
16                       COLUMBINE LLC       ...         148.0  C0010550010
17             REID ROBERT J & LAURA T       ...         148.0  C0010552020
18          ALTIZER JESSE R & MARSHA N       ...         148.0  C0010554005
19          ABATO WILLLIAM & CLAUDETTE       ...         140.0  C0010566008
20            PROCIDA ROBERT & JANET P       ...         140.0  C0010567008
21                        KIPP BRYAN T       ...         140.0  C0010567024
22         NEWTON MICHAEL W AND JOHN W       ...         148.0  C0010596036
23          THOMAS WENDELL L AND KAY M       ...         142.0  C0010659012
24        STEVENS ERIC W & CAROLYNNE H       ...         142.0  C0010661018
25         NOLDE GEORGE F & COURTNEY W       ...         148.0  C0010684002
26            QUINN MICHAEL K & GAIL H       ...         142.0  C0010700044
27         BURGESS MARSHALL S & JILL E       ...         140.0  C0010741008
28       HARTSOE CHARLES E AND JOYCE W       ...         142.0  C0010891075
29          MCMURTRIE ALEXANDER B JR &       ...         142.0  C0010891143
...                                ...       ...           ...          ...
2442                   KUMP CYRUS S II       ...         132.0  W0220083045
2443          FINCH ALLEN S AND ROSA R       ...         132.0  W0220088009
2444                     PRINCE ST LLC       ...         136.0  W0220102007
2445      SHUFORD DAVID G AND TORREY L       ...         136.0  W0220109006
2446         ZIMMERMAN HENRY W TRUSTEE       ...         136.0  W0220109008
2447             RICHARDS BEAU E D AND       ...         132.0  W0220134002
2448             ROSS EDWARD F TRS AND       ...         132.0  W0220161009
2449        BASTO J DAVID AND GRAHAM C       ...         132.0  W0220162010
2450                  MCCAFFREY JOHN M       ...         601.0  W0220162036
2451                   KNOWLES DARCI B       ...         601.0  W0220162037
2452       HELD PATSY TRUSTEE OF PATSY       ...         601.0  W0220162044
2453      THOMPSON FREDERICK AND DONNA       ...         601.0  W0220162063
2454      ENGEL MORGAN H AND MATTHEW B       ...         132.0  W0220205008
2455       LUCK CHARLES S III & TRUE F       ...         132.0  W0220205019
2456   KLEINSCHUSTER DANIEL G & DANA A       ...         132.0  W0220208004
2457    TARRY SAMUEL L JR & JENNIFER M       ...         132.0  W0220209007
2458     FARRELL SUSAN BRADLEY TRUSTEE       ...         134.0  W0220213007
2459                  DIMARCO TERESA R       ...         134.0  W0220213009
2460      HOLT H WINSTON III & BETTY W       ...         136.0  W0220221017
2461          GINTHER MICHAEL SETH AND       ...         136.0  W0220224009
2462           NAGY JAMES D & ELAINE C       ...         136.0  W0220227003
2463    DICKSON TIMOTHY D & THOMAS D &       ...         136.0  W0220272001
2464      KNAKMUHS HEATH K AND SARAH F       ...         132.0  W0220290004
2465      GRIGG S TUCKER JR & CHERYL P       ...         134.0  W0220293004
2466              CHA KIM ANNAH MIJUNG       ...         134.0  W0220295038
2467            UNDERHILL THOMAS E AND       ...         136.0  W0220348010
2468               LONGEST DANIEL C SR       ...         136.0  W0220350005
2469      GANNON STEPHEN T AND BETTY B       ...         136.0  W0220352004
2470                MATHEWS FRANCINE B       ...         136.0  W0220352012
2471          GETCHELL E DUNCAN JR AND       ...         136.0  W0220516013

                   PropStreet                  Prop_stree  Story  \
0        8712 OLD SPRING ROAD                         NaN      1
1         10275 CHEROKEE ROAD                         NaN    1.5
2          4320 SARATOGA ROAD                         NaN      1
3         10329 CHEROKEE ROAD                         NaN      2
4         4421 UPPINGHAM ROAD                         NaN      2
5        4024 N HUGUENOT ROAD                         NaN    NaN
6       4025 SOUTHAMPTON ROAD                         NaN      0
7         4330 UPPINGHAM ROAD                         NaN      2
8         4510 WHITEHALL ROAD                         NaN    1.5
9         4201 UPPINGHAM ROAD                         NaN      2
10         4231 SARATOGA ROAD                         NaN    1.5
11      9528 CREEK SUMMIT CIR                         NaN    1.5
12      9507 CREEK SUMMIT CIR                         NaN    NaN
13              8941 ELM ROAD                         NaN    1.5
14        4111 SOUTHAVEN ROAD                         NaN      0
15           10212 SIOUX ROAD                         NaN      1
16        9001 OLD HOLLY ROAD                         NaN      1
17           3820 ARKLOW ROAD                         NaN      1
18          8604 WAXFORD ROAD                         NaN      1
19          10440 APACHE ROAD                         NaN      1
20            4145 DENBIGH DR                         NaN    1.5
21            4186 TRAYLOR DR                         NaN      2
22       8616 CHIPPENHAM ROAD                         NaN      1
23         10215 PONDERA ROAD                         NaN   1.75
24      3901 CEDAR GROVE ROAD                         NaN      0
25       8856 CHIPPENHAM ROAD                         NaN      1
26           3910 GARDEN ROAD                         NaN      2
27            3928 MARGATE DR                         NaN      1
28    3103 E STONY POINT ROAD                         NaN      1
29             GARAGE UNIT 5C                         NaN      0
...                       ...                         ...    ...
2442                      NaN          118 Tempsford Lane      0
2443                      NaN           107 S Wilton Road    1.0
2444                      NaN          104 Tonbridge Road    2.0
2445                      NaN            102 Banbury Road   1.75
2446                      NaN            106 Banbury Road    2.0
2447                      NaN           309 Hillwood Road    2.0
2448                      NaN       16 Hampton Hills Lane    2.0
2449                      NaN       12 Hampton Hills Lane    2.0
2450                      NaN  5621 Cary Street Road U102    1.0
2451                      NaN  5621 Cary Street Road U103    1.0
2452                      NaN  5621 Cary Street Road U111    1.0
2453                      NaN  5621 Cary Street Road U302    1.0
2454                      NaN         120 Kennondale Lane    2.0
2455                      NaN         127 Kennondale Lane    1.0
2456                      NaN             214 Paxton Road    1.5
2457                      NaN           204 Ampthill Road    2.0
2458                      NaN           305 Charmian Road    1.0
2459                      NaN          4807 Charmian Road    2.0
2460                      NaN         209 Nottingham Road      2
2461                      NaN           4304 W Oxford Cir    1.5
2462                      NaN             4103 Dover Road    1.5
2463                      NaN    216 Queen Charlotte Road    1.5
2464                      NaN             216 Paxton Road    1.0
2465                      NaN            4 Ellensview Cir      2
2466                      NaN          4913 Lockgreen Cir    2.0
2467                      NaN           316 Clovelly Road  1.5+1
2468                      NaN          3903 Sulgrave Road    1.0
2469                      NaN          3805 Sulgrave Road    1.5
2470                      NaN          309 St Davids Lane      0
2471                      NaN           1219 Rothesay Cir    1.0

     TransferComment Transfer_date YearBlt  YrBuilt  district_number
0                NaN    2011-06-27  1950.0      NaN              NaN
1                NaN    2011-08-18  1961.0      NaN              NaN
2                NaN    2011-04-11  2011.0      NaN              NaN
3                NaN    2011-03-30  1967.0      NaN              NaN
4                NaN    2011-07-21  1995.0      NaN              NaN
5                NaN    2011-03-07     NaN      NaN              NaN
6                NaN    2011-03-07  1966.0      NaN              NaN
7                NaN    2011-10-11  1989.0      NaN              NaN
8                NaN    2011-07-11  1995.0      NaN              NaN
9                NaN    2011-08-15  1996.0      NaN              NaN
10               NaN    2011-03-31  1994.0      NaN              NaN
11               NaN    2011-08-03  2006.0      NaN              NaN
12               NaN    2011-12-21     NaN      NaN              NaN
13               NaN    2011-08-12  1948.0      NaN              NaN
14               NaN    2011-07-12  1965.0      NaN              NaN
15               NaN    2011-05-02  1989.0      NaN              NaN
16               NaN    2011-05-25  1948.0      NaN              NaN
17               NaN    2011-03-18  1955.0      NaN              NaN
18               NaN    2011-05-31  1954.0      NaN              NaN
19               NaN    2011-01-06  1959.0      NaN              NaN
20               NaN    2011-06-28  1961.0      NaN              NaN
21               NaN    2011-08-25  1989.0      NaN              NaN
22               NaN    2011-05-04  1957.0      NaN              NaN
23               NaN    2011-06-07  1989.0      NaN              NaN
24               NaN    2011-11-21  1967.0      NaN              NaN
25               NaN    2011-05-16  2006.0      NaN              NaN
26               NaN    2011-04-15  1986.0      NaN              NaN
27               NaN    2011-11-16  1959.0      NaN              NaN
28               NaN    2011-08-03  1987.0      NaN              NaN
29               NaN    2011-10-28     0.0      NaN              NaN