# Working with Lists 
### Chapters 3-4 of Python Crash Course by Eric Matthes

In [1]:
#Accessing elements from a list:

bikes = ['trek', 'cannondale', 'redline', 'specialized']

print(bikes[1]) #prints cannondale

cannondale

In [2]:
print(bikes[0].title()) #prints Trek

Trek

In [5]:
message = ("My first bike was a " + bikes[0] + ".")
print(message)

My first bike was a trek.

In [8]:
#modify elements to a list
moto = ['honda','yamaha', 'suzuki']
moto[0] = 'ducati' #changes honda to ducati
print(moto)

['ducati', 'yamaha', 'suzuki']

In [9]:
#append elements
moto.append('honda')
print(moto)

['ducati', 'yamaha', 'suzuki', 'honda']

In [11]:
#insert elements
moto.insert(1,'indian')
print(moto)

['ducati', 'indian', 'indian', 'yamaha', 'suzuki', 'honda']

In [12]:
del moto[1]
print(moto)

['ducati', 'indian', 'yamaha', 'suzuki', 'honda']

In [13]:
#removing item using pop() method. Allows you to remve last item while still being able to work with it
popped_moto = moto.pop()
print(popped_moto)

honda

In [14]:
print("The last bike I owned was a " + popped_moto.title() + ".")

The last bike I owned was a Honda.

In [18]:
#pop an item from any position in a list
random_moto = moto.pop(2)
print("My 4th bike I owned was " + random_moto.title() + ".")

My 4th bike I owned was Yamaha.

In [19]:
moto

['ducati', 'indian']

In [21]:
moto.append(['honda' , 'yamaha' , 'suzuki'])
print(moto)

['ducati', 'indian', ['honda', 'yamaha', 'suzuki']]

In [22]:
del(moto[1])

In [23]:
moto

['ducati', ['honda', 'yamaha', 'suzuki']]

In [24]:
del(moto[1])

In [25]:
moto

['ducati']

In [26]:
len(moto)

1

In [27]:
moto.append('honda')
moto.append('indian')
moto.append('yamaha')
moto.append('suzuku')

In [29]:
#using remove. Use remove if dont know the index position of the element
moto.remove('ducati')

In [30]:
moto

['honda', 'indian', 'yamaha', 'suzuku']

In [32]:
#Organizing a list
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort() #sorts in alpha order
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [33]:
cars.sort(reverse=True) #reverses alpha order
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [34]:
#sorted a list temporarily with the sorted() function. This maintains the original order of list
print(cars)
print(sorted(cars))
print("Here's original list again")
print(cars)

['toyota', 'subaru', 'bmw', 'audi']
['audi', 'bmw', 'subaru', 'toyota']
Here's original list again
['toyota', 'subaru', 'bmw', 'audi']

In [37]:
cars.reverse()  #this reverses the elements in a list, not alphabetically, but just the order of the list
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [38]:
print(len(cars))

4

In [39]:
loc = ['hawaii' , 'italy' , 'paris' , 'london' , 'sierra nevada']
print(loc) #prints list in original order
print(sorted(loc)) #prints list in alpha order without modifying oringal list
print(loc)

['hawaii', 'italy', 'paris', 'london', 'sierra nevada']
['hawaii', 'italy', 'london', 'paris', 'sierra nevada']
['hawaii', 'italy', 'paris', 'london', 'sierra nevada']

In [40]:
print(sorted(loc,reverse=True)) #prints the list in reverse alpha order

['sierra nevada', 'paris', 'london', 'italy', 'hawaii']

In [41]:
print(loc) #prints list since not changed original list

['hawaii', 'italy', 'paris', 'london', 'sierra nevada']

In [51]:
loc.reverse() #prints list in reverse order, not alpha
print(loc)

['sierra nevada', 'london', 'paris', 'italy', 'hawaii']

In [54]:
loc.reverse() #sets it back again
print(loc)

['hawaii', 'italy', 'paris', 'london', 'sierra nevada']

In [47]:
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [48]:
print(loc)

['hawaii', 'italy', 'paris', 'london', 'sierra nevada']

In [50]:
loc.reverse()
print(loc)

['hawaii', 'italy', 'paris', 'london', 'sierra nevada']

In [55]:
loc.sort()
print(loc)

['hawaii', 'italy', 'london', 'paris', 'sierra nevada']

In [56]:
loc.sort(reverse=True)
print(loc)

['sierra nevada', 'paris', 'london', 'italy', 'hawaii']

# Chapter 4 - Working with Lists

In [58]:
for place in loc:
    print("I cannot wait to visit " + place.title() + ".")

I cannot wait to visit Sierra Nevada.
I cannot wait to visit Paris.
I cannot wait to visit London.
I cannot wait to visit Italy.
I cannot wait to visit Hawaii.

In [59]:
#page 62
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
#To write code more succinctly, omit temporarily variable and append each ew value directly to the list
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
min(squares)
max(squares)
sum(squares)

385

## List comprehension
### Doing the same thing with list comprehension

This does the same thing that the above 4 lines.

In [62]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
cube = [value**3 for value in range(3,30,3)]
print(cube)

[27, 216, 729, 1728, 3375, 5832, 9261, 13824, 19683]

# Tuples
## Like lists, but immutable and use parenthesis, not brackets

In [72]:
dimensions = (200, 50)
print(dimensions[0])

200

In [66]:
#You cannot change the items in a tuple, if you do, you will get below error:
dimensions[1] = 250

TypeError: 'tuple' object does not support item assignment

In [73]:
#Writing over a tuple. Although you cannot overwrite a tuple, you can assign a new value to a variable that holds a tuple:
print("Original dimensions:\n") 
print(dimensions)

dimensions = (400 , 50)
print("\nModified dimensions:\n")
print(dimensions)

Original dimensions:

(200, 50)

Modified dimensions:

(400, 50)